* {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, h2{
  padding: 1rem;
}

.App {
    max-width: 960px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 20px;
    text-align: center;
}

nav {
    text-align: center;
    margin-bottom: 20px;
}

nav a {
    color: #ffffff;
    padding: 8px 15px;
    text-decoration: none;
    background-color: #17a2b8;
    border-radius: 5px;
    margin: 0 10px;
}

nav a:hover {
    background-color: #138496;
}

nav a.active {
    background-color: #045681;
}

form input[type="text"],
form input[type="email"],
form input[type="tel"] {
    padding: 10px;
    margin: 10px 0;
    display: block;
    width: calc(100% - 22px); /* Account for padding and borders */
    box-sizing: border-box;
}

form input:focus {
    outline: none;
    border: 2px solid #0056b3; /* Cor azul para melhor visibilidade */
    box-shadow: 0 0 5px rgba(0, 86, 179, 0.5);
}

form button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #218838;
}

footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Responsive styles */
@media (max-width: 600px) {
    .App {
        padding: 10px;
    }

    header, nav, form {
        text-align: center;
    }

    nav a {
        display: block; /* Links como blocos para facilitar a interação em telas menores */
        margin-bottom: 10px;
    }

    form input, form button {
        width: 100%; /* Utilizar toda a largura disponível */
    }
}
